@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
#cabeçalho{
    width: 100%;
    height: 60pt;
    position: fixed;
    background-color: green;
    box-shadow: 1px 1px 1px 1px black;
    padding: 10pt 300pt 10pt 300pt;
    line-height: 10pt;
}
body{
    margin: 0pt;
}
h1{
    font-size: 40pt;
    color: whitesmoke;
    text-shadow: 2pt 2pt 2pt black;
    font-family: 'Sigmar One', cursive;
    
}
#rodape{
    position: fixed;
    height: 35pt;
    width: 100%;
    background-color: rgba(89, 103, 117, 0.486);
    bottom: 0pt;
    box-shadow: 1px 1px 1px 1px black;
}
#direito{
    font-family: 'Sigmar One', cursive;
    font-size: 20pt;
    color: rgb(56, 56, 56);
    padding-left: 5pt;
}
#esquerdo{
    font-family: 'Sigmar One', cursive;
    font-size: 20pt;
    font-weight: bolder;
    padding-left: 30pt;
}
#principal{
    width: 920pt;
    position: absolute;
    margin-top: 90pt;
    height: 350pt;
    margin-left: 50pt;
    background-color: rgba(112, 128, 144, 0.267);
    border-radius: 15pt;
    box-shadow: 1px 1px 3px 1px black;
}
#painel{
    position: relative;
    width: 80%;
    height: 93%;
    background-color: rgb(88, 255, 88);
    margin: 10pt 80pt 10pt 10pt;
    border-radius: 15pt;
    box-shadow: 1px 1px 1px 1px black;
    border-width: 3pt;
    border-color: green;
    border-style: dotted;
}
#comandos{
    width: 180pt;
    height: 150pt;
    position: absolute;
    left: 745pt;
    top: 20pt;
}
#instruções{
    position: absolute;
    display: block;
    top: 150pt;
    left: 760pt;
    padding-top: 20pt;
    padding-left: 10pt;
    background-color: white;
    border-radius: 15pt;
    width: 125pt;
    height: 110pt;
    border-width: 5pt;
    border-color: darkgreen;
    border-style: double;
}
h2{
    font-weight: 600;
    font-size: 12pt;
    font-family: 'Sigmar One', cursive;
}
#cobrinha{
    width: 10pt;
    height: 10pt;
    position: relative;
    background-color: green;
}
#jogo{
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 15pt;
}